.populares {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px 60px 80px 140px;
  box-sizing: border-box;
}

.circulo {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border: 70px solid #ce5a2c;
  border-radius: 50%;
  left: -265px;
  top: 53%;
  transform: translateY(-50%);
  z-index: 0;
}

.topo {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.topo h4 {
  font-size: 2rem;
  color: #d94f04;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}

.topo h3 {
  font-size: 4rem;
  color: #d94f04;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  text-transform: capitalize;
}

.pratos {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 30px;
}