.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #b92c2c;
    width: 236px;
    height: 420px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    position: relative;
    cursor: pointer;

    transition: 
        transform 0.3s ease, 
        box-shadow 0.3s ease,
        background-color 0.5s ease;

    transition-delay: 0s, 0s, 0.25s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 10px rgba(0,0,0,0.25);
    background-color: #C94108;
}

.imageWrapper {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.imageWrapper img {
    height: 300px;
    width: 300px;
    transition: transform 0.4s ease;
}

@keyframes girarPrato {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card:hover .imageWrapper img {
    animation: girarPrato 0.6s linear;
}

.image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    position: relative;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-height: 80px;
}

.title,
.subtitle {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    transition: opacity 0.4s ease;
    margin: 0;
}

.title {
    font-size: 34px;
    font-weight: bold;
}

.subtitle {
    font-size: 22px;
    font-weight: normal;
}

.textHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "averia serif libre", serif;
    font-size: 28px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    text-align: center;
}

/* só a palavra Receita */
.receita {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.card:hover .title,
.card:hover .subtitle {
    opacity: 0;
}

.card:hover .textHover {
    opacity: 1;
    pointer-events: auto;
}